# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Entorno virtual
venv/
env/
.env

# Django
*.log
local_settings.py
db.sqlite3
#staticfiles/
media/

# VS Code
.vscode/

# Windows
Thumbs.db
desktop.ini

# macOS
.DS_Store

# Railway / Deploy
*.zip
